<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <h2 class="logo">
            <a href="/"><img src="/img/mhssp-logo.png" alt=""></a>
        </h2>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Events <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/view-dept-events/Artificial Intelligence">Artificial Intelligence</a></li>
                        <li><a href="/view-dept-events/Computer Engineering">Computer Engineering</a></li>
                        <li><a href="/view-dept-events/Information Technology">Information Technology</a></li>
                        <li><a href="/view-dept-events/Electrical Engineering (Aided)">Electrical Engineering (Aided)</a></li>
                        <li><a href="/view-dept-events/Electrical Engineering (Unaided)">Electrical Engineering (Unaided)</a></li>
                        <li><a href="/view-dept-events/Civil Engineering (Aided)">Civil Engineering (Aided)</a></li>
                        <li><a href="/view-dept-events/Civil Engineering (Unaided)">Civil Engineering (Unaided)</a></li>
                        <li><a href="/view-dept-events/Mechanical Engineering (Aided)">Mechanical Engineering (Aided)</a></li>
                        <li><a href="/view-dept-events/Mechanical Engineering (Unaided)">Mechanical Engineering (Unaided)</a></li>
                        <li><a href="/view-dept-events/Electronics & Telecommunication">Electronics & Telecommunication</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Notices <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/view-notices/Artificial Intelligence">Artificial Intelligence</a></li>
                        <li><a href="/view-notices/Computer Engineering">Computer Engineering</a></li>
                        <li><a href="/view-notices/Information Technology">Information Technology</a></li>
                        <li><a href="/view-notices/Electrical Engineering (Aided)">Electrical Engineering (Aided)</a></li>
                        <li><a href="/view-notices/Electrical Engineering (Unaided)">Electrical Engineering (Unaided)</a></li>
                        <li><a href="/view-notices/Civil Engineering (Aided)">Civil Engineering (Aided)</a></li>
                        <li><a href="/view-notices/Civil Engineering (Unaided)">Civil Engineering (Unaided)</a></li>
                        <li><a href="/view-notices/Mechanical Engineering (Aided)">Mechanical Engineering (Aided)</a></li>
                        <li><a href="/view-notices/Mechanical Engineering (Unaided)">Mechanical Engineering (Unaided)</a></li>
                        <li><a href="/view-notices/Electronics & Telecommunication">Electronics & Telecommunication</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Admission <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/view-notices/First Year Diploma Admission">FY Diploma</a></li>
                        <li><a href="/view-notices/Direct Second Year Diploma Admission">DSY Diploma</a></li>
                    </ul>
                </li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/achievements">Achievements</a></li>
                <li><a href="/circulars">Circulars</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

    </div>
</header>
<!-- End Header -->